<!doctype>
<html>
<head>
	<title>Patrick Nucci</title>
	<meta charset="UTF-8">
	<link rel = "stylesheet" type="text/css" href="css/patrick.css"/>
</head>
<body background = '/img/Philly.jpg'>
	<div class="nav">
		<a class="menu" href="/projects">Projects</a>
		<a class="menu" href="/resume">Resume</a>
	</div>

	<div class='profile'>

	</div>
	{{{body}}}
</body>
</html>
