<!doctype>
<html>
<head>
	<title>Patrick Nucci</title>
	<link rel = "stylesheet" type="text/css" href="css/patrick.css"/>
</head>
<body>
	<div class="nav">
		<a class="menu" href="/projects">Projects</a>
		<a class="menu" href="/resume">Resume</a>
	</div>
	{{{body}}}
</body>
</html>
