<!doctype>
<html>
<head>
	<title>Patrick Nucci</title>
</head>
<body>
	<div class='nav'>
	<a class="menu" href="/projects">Projects</a>
	<a class="menu" href="/resume">Resume</a>
	{{{body}}}
</body>
</html>
