<!doctype>
<html>
<head>
	<title>Patrick Nucci</title>
	<meta charset="UTF-8">
	<link rel = "stylesheet" type="text/css" href="css/patrick.css"/>
</head>
<body background = '/img/background.png'>
	<div class='logo'>
		<a href='/'><img src='/img/Nucciha.png' /></a>
	<div class="nav">
		<a class="menu" href='/about'>About</a>
		<a class="menu" href='/Service'>Service</a>
		<a class="menu" href='/projects'>Projects</a>
	</div>

	<div class='profile'>

	</div>
	{{{body}}}
</body>
</html>
