<!doctype>
<html>
<head>
	<title>Patrick Nucci</title>
	<meta charset="UTF-8">
	<link rel = "stylesheet" type="text/css" href="css/patrick.css"/>
</head>

</head>
<body>
<div id = "container">
	<div id = "main">
		<div class = "nav">
			<center>
				<a href='/'><img src='/img/main_logo.jpg' /></a>
				<a class = "menu" href='/about'>ABOUT</a>
				<a class = "menu" href='/service'>SERVICE</a>
				<a class = "menu" href='/projects'>PROJECTS</a>
				<a class = "menu" href='/clients'>CLIENTS</a>
				<a class = "menu" href='/contact'>CONTACT</a>
			</center>
		</div>
	{{{body}}}
	</div>
</div>
<footer id = "footer">
	<a href = 'https://facebook.com/nuccihadev'>
		<img src = '/img/facebook.png'></a>
	<a href = 'https://instagram.com/imanucci'>
		<img src = '/img/instagram.png'></a>
	<a href = 'https://twitter.com/nucciha'>
		<img src = '/img/twitter.png'></a>
</footer>
</body>
</html>
