<div id = 'title'>
<br>
<br>
	<h1>About</h1>
</div>
<img src = '/img/patricknucci.jpg'>
<div id = 'meet'>
	<h3><p>When I was in Middle school all I like was playing video games.
		I was the only person in the house who new how to fix anything related to technology.<br>
	  By the time I was in high school I decided I wanted to make video games instead of just play them.
		Senior Year we were allowed to pick our own "majors," so I decided to take Java becuase I wanted to
		learn how to make video games.</p><br>
		<p>When I went to community college I majored in Computer Science so I can learn more coding so I can
			make video games, but I didn't like all the math I had to take and I wansn't a fan of coding at that point.
			I am attending Point Park Univeristy and on track to graduate December of 2019. I am majoring in Information
			Technology and I love what I have learend and the skills that I aquired. I had an internship with the Pittsburgh
			Knights Esports Orgination and it help me learn the aspects of Esports and I relized I wanted to be a web developer.


	</div>
