<div id= 'contact'>
    <br>
    <br>
    <h1>Contact</h1>
    <br>
    <div id = 'info'>
        <h3>
            Weather you are looking for something long term for a project,<br>
              or one time job to help with the foundations I would love to help!
        </h3>
        <h2 class = 'email'><a href="mailto:NucciHaDev@gmail.com">NuccihaDev@gmail.com</a><h2>
          <h2 class = 'number'><a href='6102131537'>(610) 213-1537</a><h2>
        <br>
        <h3>
        </h3>
    </div>
</div>
