<center>
<br>
<br>
<br>
	<h1>WELCOME</h1>
</center>

<div id = 'ID'>
<br>
<br>
<br>
<br>
	<center>
		<h3>NucciHa Developments strive to make the simplistic, innovative website for their clients.<br> 
			I research the brand and other competitive companies to make a diffrent website from everyone else so the clients website will pop.<br>
			<br>
			Please look spend time looking at what work I have already done.</h3>
	</center>
</div>

