<div id = 'welcome'>
<br>
<br>
<br>
	<h1>IN CONSTRUCTION</h1>
	<h2>WELCOME</h2>
</div>

<div id = 'intro'>
<br>
<br>
<br>
<br>

		<h3>NucciHa Developments strive to make the simplistic, innovative website for their clients.<br> 
			I research the brand and other competitive companies to make a different website from everyone else so the clients website will pop.<br>
			<br>
			Please spend time looking at what work I have already done.</h3>
</div>

<div id = 'clients'>
	<a href = "https://knights.gg">
		<img src = "/img/Logo.png" alt = ''  align='center'></a>
	<a href = "woodstreetzombies.it.pointpark.edu:3001/">
		<img src = "/img/whole.png" alt = ' ' align = 'center'></a>
	
</div>


