<div class = 'information'>
	<h1>Patrick Nucci</h1>
	<h3>201 Wood Street, Pittsburgh, PA  15222 | (610) 213-1537 | Pnucci324@gmail.com</h3><br>
</div> 
<div class = 'pitch'>
	<p><b>I am a back end and front end developer who is looking to make the best possible website I can make for someone.
		I was an intern for the Pittsburgh Knights Esports Orginization during the summer of 2018.
		Even though I used Wix web editor, I gained a lot of experiance in the buisness aspect of<br>
		Esports.</p>
	<img src = 'img/patricknucci.jpg'>
</div>
