<div id = 'welcome'>
<br>
<br>
<br>
	<h1>WELCOME</h1>
</div>

<div id = 'intro'>
<br>
<br>
<br>
<br>
		<h3>NucciHa Developments strive to make the simplistic, innovative website for their clients.<br> 
			I research the brand and other competitive companies to make a different website from everyone else so the clients website will pop.<br>
			<br>
			Please spend time looking at what work I have already done.</h3>
</div>

