<div id = 'service'>
<br>
<br>
			<h1>Services</h1>
</div>
<div id = wix>
	<h3> If you want a basic website that is easy for you to maintain and is easy to use. I can help you start a Wix site. Easy to use and easy to learn. Wix is a drag and drop type website builder.</h3>
	<a href="https://www.wix.com">
	
	<img src = '/img/wix.jpg'></a>
</div>
<div id = wordpress>
	<h3>If you want something more elaborate and can do more with. I can make a wordpress site. Wordpress has the ability to add pluggins that can make the site look nicer. If 
		you have some web development skills you would like the ability that word press lets you code any part of the site that you want.</h3>
		<a href="https://wordpress.org">
		<img src = '/img/wordpress.png'>
		</a>
</div>
<div id = nodejs>
	<h3>If you don't want to use any of the services then I can just code you a site in Node.js It is simple and easy for me to do. The framework I code in is called Node.js where I run the server on a hosting site like GoDaddy. 
		I use something called express within node.js where I can make each page of the site faster then just hardcodding each page with the HTML shell. If you are intrested in that way the only thing you need ot purchase is 
		a hosting site where I can put the site on. </h3>
		<a href = "https://nodejs.org">
		<img src = "/img/nodejs.png"></a>
</div>