<div id = 'service'>
<br>
<br>
			<h1>Services</h1>
</div>
<div id = wix>
	<h3> If you want a basic website that is easy for you to maintain and is easy to use. I can help you start a Wix site. Easy to use and easy to learn. Wix is a drag and drop type website builder.</h3>
	<a href="https://www.wix.com">
	
	<img src = '/img/wix.jpg'></a>
</div>
<div id = wordpress>
	<h3>If you want something more elaborate and can do more with. I can make a wordpress site. Wordpress has the ability to add pluggins that can make the site look nicer. If 
		you have some web development skills you would like the ability that word press lets you code any part of the site that you want.</h3>
		<a href="https://wordpress.org">
		<img src = '/img/wordpress.png'>
		</a>
</div>