.nav a{
	padding: 5px;
	color: #000000;
	font-size: 1.5em;
	text-decoration: none;
	width: 50px;
	
}

*{
	margin: 0;
	padding;0;
}

html, body{
	height: 100%
	
}


#container{
	min-height: 100%
}

#main{
	
	overflow: auto;
	padding-bottom: 100px;
	background-color: lightgreen;
}

#footer{
	position: relative;
	height: 100px;
	margin-top: -100px;
	clear: both;
	background-color: black;
}

