.nav a{
	padding: 5px;
	color: maroon;
	font-size: 1.5em;
	text-decoration: none;
	width: 50px;

}

*{
	margin: 0;
	padding;0;
}

html, body{
	height: 100%

}


#container{
	min-height: 100%
}

#main{

	overflow: auto;
	padding-bottom: 100px;
	background-image: url('/img/main_background.jpg');
}

#footer{
	position: relative;
	height: 100px;
	margin-top: -100px;
	clear: both;
	background-color: white;
}

#welcome{
	color: maroon;
	text-align: center;
}

#intro{
	color: maroon;
	text-align: center;
}

#title{
	color: maroon;
	text-align: center;
}
#project{
	color:maroon;
	text-align: center;
}

#service{

	color: maroon;
	text-align: center;
}

#client{
	color: maroon;
	text-align: center;
}
#contact{
	color: maroon;
	text-align: center;
}
#meet{
	color:maroon;
	text-align: center;
}
#info{
	color: inherit;
	text-align: center;
}
.email{
	color:inherit;
	text-align: center;
}
.number{
	color:inherit;
	text-align: center;
}
