.nav{
	grid-column-start: 2;
	grid-column-end: 4;
	grid-row-start: 1;
	grid-row-end: 2;
}

.nav a{
	padding: 5px;
	color: #00ff00;
	font-size: 1.5em;
	text-decoration: none;
	width: 50px;
}

.information{
	color: white;
}

.pitch{
	color: #C5B360;
}

.header{
	color: white;
}

